<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desi Restaurant</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">Foodflyte - Desi Restaurant</div>
    </header>
    
    <main>
        <section class="restaurants">
            <div class="restaurant-card" onclick="alert('Welcome to Butt Karahi!')">
                <img src="https://media.istockphoto.com/id/666553456/photo/chicken-tikka-jalfrezi-indian-food.jpg?s=612x612&w=0&k=20&c=BBvn4kLOWMQzYhECo8f3m1QnPWIIJN44wn7afZReViY=" alt="Butt Karahi">
                <h3>Butt Karahi</h3>
                <p>Karahi for Everyone.</p>
            </div>
            <div class="restaurant-card" onclick="alert('Welcome to Banu Beef Pulao!')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCbwxXy97FzRZGC78tP18hSTr6PQF1HMJziA&s" alt="Banu Beef Pulao">
                <h3>Banu Beef Pulao</h3>
                <p>The speciality of Banu.</p>
            </div>
            <div class="restaurant-card" onclick="alert('Welcome to Butt Karahi!')">
                <img src="https://media.istockphoto.com/id/666553456/photo/chicken-tikka-jalfrezi-indian-food.jpg?s=612x612&w=0&k=20&c=BBvn4kLOWMQzYhECo8f3m1QnPWIIJN44wn7afZReViY=" alt="Butt Karahi">
                <h3>Butt Karahi</h3>
                <p>Karahi for Everyone.</p>
            </div>
            <div class="restaurant-card" onclick="alert('Welcome to Butt Karahi!')">
                <img src="https://media.istockphoto.com/id/666553456/photo/chicken-tikka-jalfrezi-indian-food.jpg?s=612x612&w=0&k=20&c=BBvn4kLOWMQzYhECo8f3m1QnPWIIJN44wn7afZReViY=" alt="Butt Karahi">
                <h3>Butt Karahi</h3>
                <p>Karahi for Everyone.</p>
            </div>
            <div class="restaurant-card" onclick="alert('Welcome to Banu Beef Pulao!')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCbwxXy97FzRZGC78tP18hSTr6PQF1HMJziA&s" alt="Banu Beef Pulao">
                <h3>Banu Beef Pulao</h3>
                <p>The speciality of Banu.</p>
            </div>
            <div class="restaurant-card" onclick="alert('Welcome to Butt Karahi!')">
                <img src="https://media.istockphoto.com/id/666553456/photo/chicken-tikka-jalfrezi-indian-food.jpg?s=612x612&w=0&k=20&c=BBvn4kLOWMQzYhECo8f3m1QnPWIIJN44wn7afZReViY=" alt="Butt Karahi">
                <h3>Butt Karahi</h3>
                <p>Karahi for Everyone.</p>
            </div>
        </section>
    </main>
</body>
</html>
