<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodflyte</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">Foodflyte</div>
        <form method="get" action="{% url 'search_restaurant' %}" class="search-bar">
            <input type="text" name="q" value="{{ query }}" placeholder="Search restaurants...">
            <button type="submit">Search</button>
        </form>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-btn">Logout</a>
                <a href="{% url 'orders_list' %}" class="nav-btn">My Orders</a>  <!-- New button for orders -->
            {% else %}
                <a href="{% url 'signup' %}" class="nav-btn">Sign up</a>
                <a href="{% url 'login_view' %}" class="nav-btn">Sign in</a>
            {% endif %}
        </nav>
    </header>
    
    <main>
        <h1>Welcome to Foodflyte</h1>
        <p>Join our community of food lovers and discover the best dining experiences.</p>

        <!-- Food Image Section -->
        <div class="food-image">
            <img src="https://images.deliveryhero.io/image/foodpanda/home-vendor-pk.jpg?width=1264&height=808.96" alt="Delicious Food" />
        </div>

        <!-- Restaurant Category Cards with Images -->
        {% if restaurants %}
        
        <div class="restaurants-container" style="display: flex; gap: 20px;">
            {% for rest1 in restaurants %}
            <div class="restaurant-card" onclick="window.location.href = '/restaurant/{{ rest1.name }}/'">
                <h3>{{ rest1.name }}</h3>
                <p>{{ rest1.description }}</p>
                <a onclick="window.location.href = '/restaurant/{{ rest1.name }}/'" >
                    <img src="{{ rest1.picture }}" alt="{{ rest1.name }}">
                </a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No restaurants found matching your query.</p>
    {% endif %}
    </main>

    <script>
        // Any additional JavaScript functionality can be added here
    </script>
</body>
</html>
